* {
    box-sizing: border-box;
}

.contacto {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

.contacto h1 {
    margin-top: 70px;
    font-size: 2.5em;
}

.contacto h2 {
    color: #4c6dff;
    margin-bottom: 40px;
}

.form-container {
    background-color: #1f2746;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.form-container h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}

input, textarea {
    background-color: #4c5aa6;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    width: 100%;
}

textarea {
    resize: none;
    height: 120px;
}

input::placeholder, textarea::placeholder {
    color: #d1d5f0;
}

button {
    background-color: #4c5aa6;
    color: black;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    text-transform: uppercase;
}

button:hover {
    background-color: #627dff;
}
