.eventos {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    line-height: 1.6;
}

.eventos h1, 
.eventos h2 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-top: 70px;
}

.eventos h2 {
    color: #4c6dff
}

.eventos h3 {
    margin-top: 30px;
    font-size: 1.2em;
    color: white;
}
